<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jwl.common.sys.mapper.RoleMapper">
<select id="selectById" parameterType="map" resultType="com.jwl.common.sys.model.Role">
    select id,role_name roleName from role where id = #{id}
</select>

</mapper>